html,
body {
    height: 100%;
}

body {
    
    background-image: url(https://avatars.mds.yandex.net/get-pdb/1627222/aafc44e3-e997-4ea3-95c2-96763459c1f3/orig);
    background-size: cover;
}
.container{
   position: relative;
    margin: 0 auto;
}
.moon{
    position: absolute;
    top: 40vh;
    left: 45vw;
    background:url(https://i.imgur.com/EHrvLa0.png) no-repeat ;
    background-size: 150%;
    width: 100px;
    height: 100px;
    transition: all 2s ease-in-out;
}
.ship{
    position: absolute;
    background: url(https://i.imgur.com/7ovKJVk.png) no-repeat;
    width: 30px;
    height: 30px;
     background-size: cover;
    top: 45vh;
    left: 50vw;
    transition: all 2s ease-in-out;
    
}
.ship1 {
    transition-delay: 0s;
}

.ship2 {
    transition-delay: 0.2s;
}

.ship3 {
    transition-delay: 0.4s;
}

.ship4 {
    transition-delay: 0.6s;
}

.ship5 {
    transition-delay: 0.8s;
}

.ship6 {
    transition-delay: 1s;
}

.ship7 {
    transition-delay: 1.2s;
}

.ship8 {
    transition-delay: 1.4s;
}
.container:hover .ship1{
    transform:translate(-250px, -200px)
}
.container:hover .ship2{
    transform:translate(0, -200px)
}
.container:hover .ship3{
    transform:translate(250px, -200px)
}
.container:hover .ship4{
    transform:translate(250px, 0)
}
.container:hover .ship5{
    transform:translate(250px, 200px)
}
.container:hover .ship6{
    transform:translate(0, 200px)
}
.container:hover .ship7{
    transform:translate(-250px, 200px)
}
.container:hover .ship8{
    transform:translate(-250px, 0)
}