html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url(https://avatars.mds.yandex.net/get-pdb/1627222/aafc44e3-e997-4ea3-95c2-96763459c1f3/orig);
    background-size: cover;
}

.Moon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;
    transform: translate(-50%, -50%);
    transition-property: width;
    transition-duration:2s;
    transition-timing-function: ease-in-out;


}

.nlo1,
.nlo2,
.nlo3,
.nlo4,
.nlo5,
.nlo6,
.nlo7,
.nlo8 {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    transition-property: transform;
    transition-duration: 1s;
}

.nlo1 {
    transition-delay: 0s;
}

.nlo2 {
    transition-delay: 0.2s;
}

.nlo3 {
    transition-delay: 0.4s;
}

.nlo4 {
    transition-delay: 0.6s;
}

.nlo5 {
    transition-delay: 0.8s;
}

.nlo6 {
    transition-delay: 1s;
}

.nlo7 {
    transition-delay: 1.2s;
}

.nlo8 {
    transition-delay: 1.4s;
}

.Moon:hover .nlo1 {
    transform: translate(-600px, -300px);
}

.Moon:hover .nlo2 {
    transform: translate(0px, -300px);
}

.Moon:hover .nlo3 {
    transform: translate(600px, -300px);
}

.Moon:hover .nlo4 {
    transform: translate(600px, 0px);
}

.Moon:hover .nlo5 {
    transform: translate(600px, 300px);
}

.Moon:hover .nlo6 {
    transform: translate(0px, 300px);
}

.Moon:hover .nlo7 {
    transform: translate(-600px, 300px);
}

.Moon:hover .nlo8 {
    transform: translate(-600px, 0px);
}